<div class="panel panel-default">
    <div class="panel-heading">
        <button type="submit" (click)="createMedicament()" class="btn btn-success">Create Medicament</button>
    </div>
    <div class="panel-heading">
        <button type="submit" (click)="listCommandes()" class="btn btn-success">List Commands</button>
    </div>
    <div class="panel-heading">
        <button type="submit" (click)="addPharmacy()" class="btn btn-success">Add Pharmacy</button>
        <button type="submit" (click)="createMedicament()" class="btn btn-info">Add Medicament</button>
    </div>
    </div>
    
    <div class="panel-heading">
        <h1>Pharmacies</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Patente</th>
                    <th>Téléphone</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pharmacy of pharmacies">
                    <td>{{pharmacy.nom}}</td>
                    <td>{{pharmacy.adresse}}</td>
                    <td>{{pharmacy.patente}}</td>
                    <td>{{pharmacy.tel}}</td>     
                    <td><button class="btn btn-primary" (click)="updatePharmacy(pharmacy.id,pharmacy)">Update</button></td>
                    <td><button class="btn btn-danger" (click)="deletePharmacy(pharmacy)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

